<div class="history"><div class="cd-timeline-header"><h2 id="Experenice">Experience</h2><hr class="bar"/></div><section id="cd-timeline" class="cd-container"><div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content">
  <h2 class="story-heading">Masters in Business Analytics</h2>
  <P>President - Director's Student Advisory Council</P><span class="cd-date">August 2018-September 2019</span>
  </div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
  <div class="cd-timeline-block"><div class="cd-timeline-img cd-movie"><img src="../assets/img/hosting.svg" alt="College"/>
  </div><!-- cd-timeline-img-->
  <div class="cd-timeline-content">
    <h2>Accenture Solutions Pvt. Ltd.</h2>
    <p>daratatatata.</p><span class="cd-date">April 2014</span>
    </div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
    <div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Picture"/>
    </div><!-- cd-timeline-img--><div class="cd-timeline-content">
      <h2>Electronics Engineering</h2>
      <P>University of Mumbai	Mumbai, India
•	Technical Project: Eye-Controlled Wheelchair
Successfully implemented an eye-controlled wheelchair using a Raspberry Pi and a USB camera which captured images in real time and controlled the wheelchair accordingly
 </P>
 <span class="cd-date">May 2013 - September 2014</span>


        <h2></h2></div></div>
