       <div class="history"><div class="cd-timeline-header"><h2 id="Experenice">Experience</h2>
          <hr class="bar"/></div>
          <section id="cd-timeline" class="cd-container"><div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img--><div class="cd-timeline-content">
            <h2 class="story-heading">Masters in Business Analytics</h2>
            <P>President - Director's Student Advisory Council. check if </P>
              <span class="cd-date">August 2018-September 2019</span></div>
              <!-- cd-timeline-content--><!-- cd-timeline-block--></div>
              <div class="cd-timeline-block"><div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College"/></div>
              <!-- cd-timeline-img--><div class="cd-timeline-content">
              <h2>Accenture Solutions Pvt. Ltd</h2>
              <p>•Saved the project 5 hours of manual intervention per restoration and the costs associated with it by automating
                a backup-restore activity using PowerShell scripts which checked error logs, updated production URLs and fields and started corresponding services
                •	Automated a sales report using SQL queries on select databases saving the project 30 hours of manual intervention on a monthly basis
                •	Handled SQL Server backups & restoration, maintenance plans, jobs and performance tuning
                •	Worked on Microsoft Dynamics AX 2012 retail setup, understanding retail-specific components and their interaction with each other
                •	Assisted clients & customers in implementation management & support for Microsoft Dynamics AX 2012
              </p><span class="cd-date">April 2014</span></div>
                <!-- cd-timeline-content--><!-- cd-timeline-block--></div>
                <div class="cd-timeline-block"><div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Picture"/></div>
                <div class="cd-timeline-content">
                <h2>Electronics Engineering</h2>
                <p>University of Mumbai	Mumbai, India
          •	Technical Project: Eye-Controlled Wheelchair
          Successfully implemented an eye-controlled wheelchair using a Raspberry Pi and a USB camera
          which captured images in real time and controlled the wheelchair accordingly</p><span class="cd-date">May 2013 - September 2014</span></div>
               <!-- cd-timeline--></div></section><h2></h2></div></div>
